* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: #c0c1c2;
}
img {
  width: 100px;
  height: auto;
}
li {
  list-style: inline;
}
a {
  text-decoration: none;
}
